In [1]:
import mysql.connector
from datetime import date, time

# Creating database

In [2]:
try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Coc0406"
    )
    print("Connection established")
    cursor = conn.cursor()
    cursor.execute("CREATE DATABASE IF NOT EXISTS HospitalDBMS")
    conn.commit()
    print("Database created successfully")
    cursor.execute("USE HospitalDBMS")
except mysql.connector.Error as err:
    print("An error occurred:", err)

Connection established
Database created successfully

# Inserting tables

In [3]:
patients = [
    (1, 'John', 'Doe', date(1985, 5, 15), 'Male', '123 Elm St, Springfield', 1234567890, 'john@example.com', 'A+', 9876543210, 'Peanuts', 'None'),
    (2, 'Jane', 'Smith', date(1990,10,10), 'Female', '456 Oak St, Springfield', 2345678901, 'jane@example.com', 'O-', 8765432109, 'None', 'Diabetes'),
    (3, 'Alex', 'Johnson', date(1995,3,20), 'Other', '789 Pine St, Springfield', 3456789012, 'alex@example.com', 'B+', 7654321098, 'Dust', 'Asthma'),
    (4, 'Emily', 'Davis', date(1982,11,30), 'Female', '321 Maple St, Springfield', 4567890123, 'emily@example.com', 'AB-', 6543210987, 'None', 'Heart Disease'),
    (5, 'Michael', 'Brown', date(1975,7,25), 'Male', '654 Cedar St, Springfield', 5678901234, 'michael@example.com', 'A+', 5432109876, 'None', 'High Blood Pressure'),
]

cursor.executemany("""
    INSERT INTO Patient (patient_id, first_name, last_name, date_of_birth, gender, address, phone_number, email, blood_type, emergency_contact, allergies, existing_conditions)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
""", patients)
conn.commit()

In [4]:
logins = [
    (1, 'password123'),
    (2, 'securepassword'),
    (3, 'mypassword'),
    (4, 'password!@#'),
    (5, 'qwerty123'),
]

cursor.executemany("""
    INSERT INTO Login (patient_id, password)
    VALUES (%s, %s);
""", logins)
conn.commit()

In [5]:
doctors = [
    (1, 'Alice', 'Green', 'pediatricians', 1234567890, 'alice.green@example.com', 'Monday, Wednesday, Friday', '08:00:00', '16:00:00', 10, 80000),
    (2, 'Bob', 'White', 'pediatricians', 2345678901, 'bob.white@example.com', 'Tuesday, Thursday', '09:00:00', '17:00:00', 15, 90000),
    (3, 'Charlie', 'Blue', 'pediatricians', 3456789012, 'charlie.blue@example.com', 'Monday, Tuesday, Wednesday', '10:00:00', '18:00:00', 12, 85000),
    (4, 'Diana', 'Black', 'dermatologist', 4567890123, 'diana.black@example.com', 'Thursday, Friday', '11:00:00', '19:00:00', 8, 75000),
    (5, 'Eva', 'Red', 'dermatologist', 5678901234, 'eva.red@example.com', 'Monday, Wednesday', '07:00:00', '15:00:00', 20, 95000),
    (6, 'Frank', 'Yellow', 'dermatologist', 6789012345, 'frank.yellow@example.com', 'Tuesday, Thursday', '09:00:00', '17:00:00', 11, 87000),
    (7, 'George', 'Brown', 'neurologist', 7890123456, 'george.brown@example.com', 'Monday, Wednesday', '07:00:00', '15:00:00', 16, 98000),
    (8, 'Hannah', 'Pink', 'neurologist', 8901234567, 'hannah.pink@example.com', 'Tuesday, Thursday', '09:00:00', '17:00:00', 14, 92000),
    (9, 'Ivy', 'Purple', 'neurologist', 9012345678, 'ivy.purple@example.com', 'Friday', '10:00:00', '18:00:00', 13, 88000),
    (10, 'Jack', 'Gray', 'general-physician', 9876543210, 'jack.gray@example.com', 'Monday, Wednesday', '08:00:00', '16:00:00', 10, 85000),
    (11, 'Karen', 'Orange', 'general-physician', 8765432109, 'karen.orange@example.com', 'Tuesday, Thursday', '09:00:00', '17:00:00', 12, 87000),
    (12, 'Liam', 'White', 'general-physician', 7654321098, 'liam.white@example.com', 'Wednesday, Friday', '07:00:00', '15:00:00', 8, 83000),
    (13, 'Mia', 'Black', 'gynecologist', 6543210987, 'mia.black@example.com', 'Monday, Tuesday', '08:00:00', '16:00:00', 14, 91000),
    (14, 'Noah', 'Blue', 'gastroenterologist', 5432109876, 'noah.blue@example.com', 'Thursday, Friday', '10:00:00', '18:00:00', 18, 96000),
    (15, 'Olivia', 'Gray', 'gynecologist', 4321098765, 'olivia.gray@example.com', 'Wednesday, Thursday', '09:00:00', '17:00:00', 16, 93000),
    (16, 'Mia', 'Black', 'gynecologist', 6543210987, 'mia.black@example.com', 'Monday, Tuesday', '08:00:00', '16:00:00', 14, 91000),
    (17, 'Noah', 'Blue', 'gastroenterologist', 5432109876, 'noah.blue@example.com', 'Thursday, Friday', '10:00:00', '18:00:00', 18, 96000),
    (18, 'Olivia', 'Gray', 'gastroenterologist', 4321098765, 'olivia.gray@example.com', 'Wednesday, Thursday', '09:00:00', '17:00:00', 16, 93000),
]

cursor.executemany("""
    INSERT INTO Doctor (doctor_id, first_name, last_name, specialization, phone_number, email, available_days, available_from, available_to, years_of_experience, salary)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
""", doctors)

conn.commit()

In [6]:
wards = [
    (1, 'Public', 50, 30, 1),
    (2, 'Private', 20, 15, 2),
    (3, 'Public', 40, 25, 3),
    (4, 'Private', 30, 20, 4),
    (5, 'Public', 60, 35, 5),
]

cursor.executemany("""
    INSERT INTO Ward (ward_id, ward_type, total_beds, available_beds, floor_number)
    VALUES (%s, %s, %s, %s, %s);
""", wards)
conn.commit()

In [7]:
nurses = [
    (1, 'Sophia', 'Williams', 'Morning', 6789012345, 'sophia@example.com', 1),
    (2, 'James', 'Jones', 'Evening', 7890123456, 'james@example.com', 2),
    (3, 'Olivia', 'Garcia', 'Morning', 8901234567, 'olivia@example.com', 3),
    (4, 'William', 'Martinez', 'Evening', 9012345678, 'william@example.com', 4),
    (5, 'Liam', 'Hernandez', 'Morning', 1234567890, 'liam@example.com', 5),
]

cursor.executemany("""
    INSERT INTO Nurse (nurse_id, first_name, last_name, shift, phone_number, email, ward_id)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
""", nurses)
conn.commit()

In [8]:
appointments = [
    (1, 1, 2, '2024-10-15', '09:00:00', 'Regular Checkup', 'Pending'),
    (2, 2, 2, '2024-10-16', '10:00:00', 'Heart Check', 'Pending'),
    (3, 3, 1, '2024-10-17', '11:00:00', 'Neurological Evaluation', 'Pending'),
    (4, 4, 4, '2024-10-18', '12:00:00', 'Skin Examination', 'Pending'),
    (5, 5, 4, '2024-10-19', '13:00:00', 'Bone Health Check', 'Pending'),
]

cursor.executemany("""
    INSERT INTO Appointment (appointment_id, patient_id, doctor_id, appointment_date, appointment_time, appointment_reason, status)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
""", appointments)
conn.commit()

In [9]:
prescriptions = [
    (1, 1, 'Amoxicillin', '500mg', 'Daily', 7),
    (2, 2, 'Metformin', '1000mg', 'Daily', 30),
    (3, 3, 'Albuterol', '90mcg', 'TwoDays', 14),
    (4, 4, 'Lisinopril', '20mg', 'Daily', 60),
    (5, 5, 'Aspirin', '81mg', 'Daily', 90),
]

cursor.executemany("""
    INSERT INTO Prescription (prescription_id, appointment_id, medication_name, dosage, frequency, duration)
    VALUES (%s, %s, %s, %s, %s, %s);
""", prescriptions)
conn.commit()

In [10]:
treatments = [
    (1, 1, 'Physical Therapy', date(2024, 10, 20), date(2024, 10, 27)),
    (2, 2, 'Medication Adjustment', date(2024, 10, 21), date(2024, 10, 28)),
    (3, 3, 'Surgery', date(2024, 10, 22), date(2024, 10, 29)),
    (4, 4, 'Skin Treatment', date(2024, 10, 23), date(2024, 10, 30)),
    (5, 5, 'Bone Fracture Care', date(2024, 10, 24), date(2024, 10, 31)),
]

cursor.executemany("""
    INSERT INTO Treatment (treatment_id, appointment_id, treatment_name, start_date, end_date)
    VALUES (%s, %s, %s, %s, %s);
""", treatments)
conn.commit()

In [11]:
medical_tests = [
    (1, 1, 'Blood Test', date(2024, 10, 25)),
    (2, 2, 'X-Ray', date(2024, 10, 26)),
    (3, 3, 'MRI', date(2024, 10, 27)),
    (4, 4, 'CT Scan', date(2024, 10, 28)),
    (5, 5, 'Ultrasound', date(2024, 10, 29)),
]
cursor.executemany("""
    INSERT INTO MedicalTest (test_id, appointment_id, test_type, test_date)
    VALUES (%s, %s, %s, %s);
""", medical_tests)
conn.commit()

In [12]:
bills = [
    (1, 1, 200, date(2024, 10, 30), 'pending'),
    (2, 2, 300, date(2024, 10, 31), 'completed'),
    (3, 3, 250, date(2024, 11, 1), 'pending'),
    (4, 4, 400, date(2024, 11, 2), 'pending'),
    (5, 5, 150, date(2024, 11, 3), 'completed'),
]

cursor.executemany("""
    INSERT INTO Bill (bill_id, appointment_id, total_amount, billing_date, payment_status)
    VALUES (%s, %s, %s, %s, %s);
""", bills)
conn.commit()

In [13]:
staff_members = [
    (1, 'Emma', 'Taylor', 'Receptionist', 3210987654, 'emma@example.com', 40000),
    (2, 'Noah', 'Anderson', 'Accountant', 4321098765, 'noah@example.com', 50000),
    (3, 'Ava', 'Thomas', 'Lab Technician', 5432109876, 'ava@example.com', 45000),
    (4, 'Ethan', 'Jackson', 'Cleaner', 6543210987, 'ethan@example.com', 30000),
    (5, 'Isabella', 'White', 'Pharmacist', 7654321098, 'isabella@example.com', 55000),
]

cursor.executemany("""
    INSERT INTO Staff (staff_id, first_name, last_name, job_role, phone_number, email, salary)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
""", staff_members)
conn.commit()

In [14]:
equipment_data = [
    (1, 'X-Ray Machine', 'Available', '2020-05-10', '2025-05-10', '2024-06-15'),
    (2, 'MRI Scanner', 'In use', '2021-03-20', '2026-03-20', '2024-09-10'),
    (3, 'CT Scan Machine', 'Maintanence', '2019-08-05', '2024-08-05', '2024-10-01'),
    (4, 'Ultrasound Machine', 'Available', '2022-07-12', '2027-07-12', '2024-07-30'),
    (5, 'Ventilator', 'In use', '2023-01-25', '2028-01-25', '2024-09-20'),
]

cursor.executemany("""
    INSERT INTO Equipment (equipment_id, equipment_name, status, purchase_date, warranty_till, last_maintanence)
    VALUES (%s, %s, %s, %s, %s, %s);
""", equipment_data)

conn.commit()

In [15]:
# Sample logins for doctor_ids 1 to 18
logins = [
    (1, 'password123'),
    (2, 'securepassword'),
    (3, 'mypassword'),
    (4, 'password!@#'),
    (5, 'qwerty123'),
    (6, 'letmein123'),
    (7, 'doctorsafe1'),
    (8, 'pass123456'),
    (9, 'bestdoc99'),
    (10, 'safepassword'),
    (11, 'doctor12345'),
    (12, 'healinghands'),
    (13, 'medic2020'),
    (14, 'healthy@456'),
    (15, 'caregiver007'),
    (16, 'superdoc123'),
    (17, 'medsecure99'),
    (18, 'drpassword!'),
]

# Inserting entries into DoctorLogin
cursor.executemany("""
    INSERT INTO DoctorLogin (doctor_id, password)
    VALUES (%s, %s);
""", logins)
conn.commit()

In [16]:
conn.close()