In [1]:
import mysql.connector

# Creating database

In [2]:
try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Coc0406"
    )
    print("Connection established")
    cursor = conn.cursor()
    cursor.execute("CREATE DATABASE IF NOT EXISTS HospitalDBMS")
    conn.commit()
    print("Database created successfully")
    cursor.execute("USE HospitalDBMS")
except mysql.connector.Error as err:
    print("An error occurred:", err)

Connection established
Database created successfully

# Creating tables

In [3]:
create_table1 = """
    CREATE TABLE Patient (
        patient_id INT PRIMARY KEY AUTO_INCREMENT,
        first_name VARCHAR(256),
        last_name VARCHAR(256),
        date_of_birth DATE,
        gender ENUM('Male', 'Female', 'Other'),
        address VARCHAR(512),
        phone_number BIGINT,
        email VARCHAR(128),
        blood_type ENUM('A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-'),
        emergency_contact BIGINT,
        allergies TEXT,
        existing_conditions TEXT
    );
"""
cursor.execute(create_table1)
conn.commit()

print('Success')

Success

In [4]:
create_table2 = """
    CREATE TABLE Login (
        patient_id INT PRIMARY KEY,
        password VARCHAR(128),
        FOREIGN KEY (patient_id) REFERENCES Patient(patient_id) ON DELETE CASCADE
    );
"""
cursor.execute(create_table2)
conn.commit()

print('Success')

Success

In [5]:
create_table3 = """
    CREATE TABLE Doctor (
        doctor_id INT PRIMARY KEY AUTO_INCREMENT,
        first_name VARCHAR(256),
        last_name VARCHAR(256),
        specialization ENUM('general-physician', 'gynecologist', 'dermatologist', 'pediatricians', 'neurologist', 'gastroenterologist'),
        phone_number BIGINT,
        email VARCHAR(128),
        available_days VARCHAR(128),
        available_from TIME,
        available_to TIME,
        years_of_experience INT,
        salary INT
    );
"""
cursor.execute(create_table3)
conn.commit()

print('Success')

Success

In [6]:
create_table4 = """
    CREATE TABLE Ward (
        ward_id INT PRIMARY KEY AUTO_INCREMENT,
        ward_type ENUM('Public', 'Private'),
        total_beds INT,
        available_beds INT,
        floor_number INT
    );
"""
cursor.execute(create_table4)
conn.commit()

print('Success')

Success

In [7]:
create_table5 = """
    CREATE TABLE Nurse (
        nurse_id INT PRIMARY KEY AUTO_INCREMENT,
        first_name VARCHAR(256),
        last_name VARCHAR(256),
        shift ENUM('Morning', 'Evening'),
        phone_number BIGINT,
        email VARCHAR(128),
        ward_id INT,
        FOREIGN KEY (ward_id) REFERENCES Ward(ward_id) ON DELETE CASCADE
    );
"""
cursor.execute(create_table5)
conn.commit()

print('Success')

Success

In [8]:
create_table6 = """
    CREATE TABLE Appointment (
        appointment_id INT PRIMARY KEY AUTO_INCREMENT,
        patient_id INT,
        doctor_id INT,
        appointment_date DATE,
        appointment_time TIME,
        appointment_reason TEXT,
        status ENUM('Pending', 'Completed', 'Cancelled'),
        FOREIGN KEY (patient_id) REFERENCES Patient(patient_id)  ON DELETE CASCADE,
        FOREIGN KEY (doctor_id) REFERENCES Doctor(doctor_id) ON DELETE CASCADE
    );
"""
cursor.execute(create_table6)
conn.commit()

print('Success')

Success

In [9]:
create_table7 = """
    CREATE TABLE Prescription (
        prescription_id INT PRIMARY KEY AUTO_INCREMENT,
        appointment_id INT,
        medication_name TEXT,
        dosage TEXT,
        frequency ENUM('Daily', 'TwoDays', 'ThreeDays', 'Weekly'),
        duration INT,
        FOREIGN KEY (appointment_id) REFERENCES Appointment(appointment_id) ON DELETE CASCADE
    );
"""
cursor.execute(create_table7)
conn.commit()

print('Success')

Success

In [10]:
create_table8 = """
    CREATE TABLE Treatment (
        treatment_id INT PRIMARY KEY AUTO_INCREMENT,
        appointment_id INT,
        treatment_name TEXT,
        start_date DATE,
        end_date DATE,
        FOREIGN KEY (appointment_id) REFERENCES Appointment(appointment_id) ON DELETE CASCADE
    );
"""
cursor.execute(create_table8)
conn.commit()

print('Success')

Success

In [11]:
create_table9 = """
    CREATE TABLE MedicalTest (
        test_id INT PRIMARY KEY AUTO_INCREMENT,
        appointment_id INT,
        test_type TEXT,
        test_date DATE,
        FOREIGN KEY (appointment_id) REFERENCES Appointment(appointment_id) ON DELETE CASCADE
    );
"""
cursor.execute(create_table9)
conn.commit()

print('Success')

Success

In [12]:
create_table10 = """
    CREATE TABLE Bill (
        bill_id INT PRIMARY KEY AUTO_INCREMENT,
        appointment_id INT,
        total_amount INT,
        billing_date DATE,
        payment_status ENUM('pending', 'completed') ,
        FOREIGN KEY (appointment_id) REFERENCES Appointment(appointment_id) ON DELETE CASCADE
    );
"""
cursor.execute(create_table10)
conn.commit()

print('Success')

Success

In [13]:
create_table11 = """
    CREATE TABLE Staff (
        staff_id INT PRIMARY KEY AUTO_INCREMENT,
        first_name VARCHAR(256),
        last_name VARCHAR(256),
        job_role VARCHAR(128),
        phone_number BIGINT,
        email VARCHAR(128),
        salary INT
    );
"""
cursor.execute(create_table11)
conn.commit()

print('Success')

Success

In [14]:
create_table12 = """
    CREATE TABLE Equipment (
        equipment_id INT PRIMARY KEY AUTO_INCREMENT,
        equipment_name VARCHAR(256),
        status ENUM('Available', 'In use', 'Maintanence'),
        purchase_date DATE,
        warranty_till DATE,
        last_maintanence DATE
    );
"""
cursor.execute(create_table12)
conn.commit()

print('Success')

Success

In [15]:
create_table13 = """
    CREATE TABLE DoctorLogin (
        doctor_id INT PRIMARY KEY,
        password VARCHAR(128),
        FOREIGN KEY (doctor_id) REFERENCES Doctor(doctor_id) ON DELETE CASCADE
    );
"""
cursor.execute(create_table13)
conn.commit()

print('Success')

Success